<!-- <h4>Tienda Botones</h4> -->
<!-- <div>
  <button mat-button *ngFor="let dato of tiendaService.getTiendas()" (click)="seleccionar(dato)">
    <span>{{dato.id}}</span> {{dato.nombres}}
  </button> -->
  <!-- <button *ngFor="let dato of tiendaService.getTiendas()" (click)="seleccionar(dato)">
      <span>{{dato.id}}</span> {{dato.nombres}}
    </button> -->
<!-- </div> -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Tienda Botones</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button *ngFor="let dato of tiendaService.getTiendas()" (click)="seleccionar(dato)">
      <span>{{dato.id}}</span> {{dato.nombres}}
    </button>
  </mat-card-actions>
</mat-card>
