<h4>Producto Form</h4>
<hr>
<div *ngIf="tiendaService.getTiendaSeleccionada()">
  <div *ngIf="producto">
    <form #ProductoForm="ngForm" (ngSubmit)="agregarProducto()">
      <div>
        <label for="numeroProducto">Número Producto: </label>
        <input id="numeroProducto" type="text" [(ngModel)]="producto.numeroProducto" name="numeroProducto" />
      </div>
      <div>
        <label for="nombre">Nombre: </label>
        <input id="nombre" type="text" [(ngModel)]="producto.nombre" name="nombre" />
      </div>
      <div>
        <label for="descripcion">Descripcion: </label>
        <input id="descripcion" type="text" [(ngModel)]="producto.descripcion" name="descripcion" />
      </div>
      <div>
        <label for="precio">Precio: </label>
        <input id="precio" type="text" [(ngModel)]="producto.precio" name="precio" />
      </div>
      <div>
        <label for="aniosGarantia">Garantía (Años): </label>
        <input id="aniosGarantia" type="text" [(ngModel)]="producto.aniosGarantia" name="aniosGarantia" />
      </div>
      <div>
        <label for="tiendaID">Tienda id: </label>
        <input id="tiendaId" type="text" [(ngModel)]="producto.teindaId" name="tiendaId" />
      </div>
      <button>Grabar</button>
    </form>
  </div>
</div>