<!-- <h4>Carrusel</h4>
<hr> -->
<ngb-carousel *ngIf="tiendaService.getTiendas().length > 0">
  <ng-template ngbSlide *ngFor="let dato of tiendaService.getTiendas(); let i = index">
    <img [src]="'../../assets/images/'+(i+1)+'.jpg'" alt="Random first slide">
    <div class="carousel-caption">
      <h3>{{dato.nombres}}</h3>
      <p>{{dato.direccion}}</p>
    </div>
  </ng-template>
</ngb-carousel>
<!-- <ul>
  <div *ngFor="let dato of tiendaService.getTiendas(); let i = index" >
  <button (click)="seleccionar(dato)">
    <span>{{dato.id}}-{{'../../assets/images/'+(i+1)+'.jpg'}}-</span> {{dato.nombres}}
  </button>
  <img [src]="'../../assets/images/'+(i+1)+'.jpg'" alt="{{dato.nombres}}">
  </div>
</ul> -->