<!--The content below is only a placeholder and can be replaced.-->
<h1>Examen 01</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-carrusel></app-carrusel>
    </div>
    <div class="col-sm-6">
      <app-tienda-form></app-tienda-form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <app-tienda-botones></app-tienda-botones>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <app-producto-form></app-producto-form>
    </div>
    <div class="col-sm-6">
      <app-tienda-info></app-tienda-info>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <app-producto-tabla></app-producto-tabla>
    </div>
  </div>
</div>
<hr>